main {
 background-color: #edefee;;
}

.select-restaurant-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.select-restaurant-content h2 {
  margin-bottom: 20px;
  text-align: center;
}